@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Caveat|Oswald&display=swap');
.all-counts{
    display: flex;
    justify-content: space-evenly;
}
.count{
    width: 25%;
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
}
.count p{
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 28px;
}
h1{
    margin-top: 0;
    font-size: 48px;
    padding: 10px;
}
.news{
    font-family: 'Caveat', cursive;
    font-size: 24px;
    margin: 0 auto;
    width: 80%;
}