.App{
  color: white;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: 80px 0;
  background-image: url("./resources/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
